<ion-header>
    <ion-toolbar>
      <ion-title>Registro</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Cerrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        Por favor ingrese un email válido
      </div>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 6 caracteres
      </div>
  
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="error-message">
        Por favor confirme su contraseña
      </div>
      <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">
        Las contraseñas no coinciden
      </div>
  
      <div class="ion-padding">
        <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
      </div>
    </form>
  </ion-content> 