<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<div class="search-container">
  <ion-item lines="none" class="search-bar">
    <ion-select [(ngModel)]="searchType" interface="popover" class="search-select">
      <ion-select-option value="name">Nombre</ion-select-option>
      <ion-select-option value="ingredient">Ingrediente</ion-select-option>
    </ion-select>

    <ion-input [(ngModel)]="searchQuery" placeholder="Ingresar..." class="search-input"></ion-input>

    <ion-button fill="clear" color="primary" (click)="searchCocktail()" class="search-button" title="Buscar">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>
</div>
 
<div class="card" *ngFor="let cocktail of cocktails">
    <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" class="image">

   

    <div class="card-content">
      <h2>{{ cocktail.strDrink }}</h2>

      <ion-button size="small" fill="clear" class="ver-preparacion-btn" (click)="toggleDetails(cocktail)">
        {{ cocktail.showDetails ? 'Ocultar preparación' : 'Ver preparación' }}
      </ion-button>

      <div *ngIf="cocktail.showDetails">
        <p><strong>Ingredientes/cantidades:</strong></p>
        <ul>
          <li *ngFor="let ing of cocktail.ingredients">{{ ing.ingredient }} - {{ ing.quantity }}</li>
        </ul>
        <p><strong>Forma de preparación:</strong></p>
        <p>{{ cocktail.strInstructionsEs }}</p>
      </div>
    </div>
  </div>

<ion-button (click)="getRandomCocktail()" class="random-btn">
  Obtener Bebida Aleatoria
</ion-button>

<div class="card" *ngIf="randomCocktail">
    <img [src]="randomCocktail.strDrinkThumb" alt="{{ randomCocktail.strDrink }}" class="image">

    <div class="card-content">
      <h2>{{ randomCocktail.strDrink }}</h2>
      <p><strong>Tipo:</strong> {{ randomCocktail.strCategory }}</p>
      <p><strong>Alcohol:</strong> {{ randomCocktail.strAlcoholic }}</p>

      <ion-button size="small" fill="clear" class="ver-preparacion-btn" (click)="toggleDetails(randomCocktail)">
        {{ randomCocktail.showDetails ? 'Ocultar preparación' : 'Ver preparación' }}
      </ion-button>

      <div *ngIf="randomCocktail.showDetails">
        <h3>Ingredientes/cantidades:</h3>
        <ul>
          <li *ngFor="let item of cocktailIngredients">
            {{ item.ingredient }} - {{ item.measure }}
          </li>
        </ul>
        <p><strong>Forma de preparación:</strong></p>
        <p>{{ randomCocktail.strInstructionsES }}</p>
      </div>
    </div>
  </div>

  </ion-content>