<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="ion-padding">
  
    <ion-title class="title_login">MyCocktailApp</ion-title>

<form class="form_login" [formGroup]="loginForm">
  <ion-item class="input_login_email">
    <ion-label class="label_login_email" position="floating">Email</ion-label>
    <ion-input  type="email" formControlName="email" required></ion-input>
  </ion-item>
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message"><!--verifica si el email es valido-->
    Por favor ingrese un email válido
  </div>

  <ion-item class="input_login_password">
    <ion-label  position="floating">Contraseña</ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  </ion-item>
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message"><!--verifica si la contraseña es valida-->
    Por favor ingrese una contraseña válida
  </div>

  <ion-button class="btn_login"  (click)="login()" >Iniciar Sesión</ion-button>

  <!--barra de separacion-->
  <div style="display: flex; align-items: center; margin: 20px 0;">
    <div style="flex: 1; height: 1px; background-color: #ccc;"></div>
    <div style="margin: 0 15px; color: #ccc;">o</div>
    <div style="flex: 1; height: 1px; background-color: #ccc;"></div>
  </div>
  <!--barra de separacion-->

  <div class="btn_google">
    <ion-icon name="logo-google"></ion-icon> <a (click)="loginGoogle()">Iniciar sesión con Google</a>
  </div>

  <div class="forgot_password">
    ¿Olvidaste tu contraseña?
  </div>

  <div class="btn_register">
    ¿No tienes cuenta? <a (click)="abrirModal()">Regístrate</a>
  </div>

</form>












</ion-content>
