<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crea tu bebida Personalizada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>
  

 <div *ngFor="let bebida of bebidasComunidad$ | async" class="card">
  <img [src]="bebida.foto" class="image">

  <div class="card-content">
    <h2>{{ bebida.nombre }}</h2>
    <p><strong>Ingredientes:</strong> {{ bebida.ingredientes }}</p>
    <p><strong>Descripción:</strong> {{ bebida.descripcion }}</p>
  </div>
</div>

<div class="pagination">
  <ion-button fill="clear" [disabled]="currentPage === 1" (click)="prevPage()">
    <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" *ngFor="let page of [].constructor(totalPages); let i = index"
    fill="{{ currentPage === i + 1 ? 'solid' : 'outline' }}" (click)="goToPage(i + 1)">
    {{ i + 1 }}
  </ion-button>

  <ion-button fill="clear" [disabled]="currentPage === totalPages" (click)="nextPage()">
    <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

  <!--
  Contenido de la pagina 
  Aca estaria la de Crear tu bebida personalizada

  -->


 






</ion-content>
