<ion-header>
  <ion-toolbar>
    <ion-title>{{ bebida ? 'Editar' : 'Agregar' }} Bebida</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>

  <ion-item>
    <ion-input [(ngModel)]="nuevoIngrediente" placeholder="Nuevo ingrediente" (keyup.enter)="addIngrediente()"></ion-input>
    <ion-button fill="clear" (click)="addIngrediente()" slot="end">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let ing of ingredientes; let i = index">
      <ion-label>{{ ing }}</ion-label>
      <ion-button fill="clear" color="danger" (click)="removeIngrediente(i)" slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-textarea [(ngModel)]="descripcion" placeholder="Descripción"></ion-textarea>

  <div>
    <ion-button fill="clear" (click)="takePhoto(CameraSource.Camera)" color="dark">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>

    <ion-button fill="clear" (click)="takePhoto(CameraSource.Photos)" color="dark">
      <ion-icon slot="icon-only" name="image"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="foto" class="foto-container">
    <img [src]="foto" class="preview-img">
    <ion-button class="trash-button" fill="clear" color="light" (click)="removePhoto()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>

  <ion-button expand="block" color="primary" (click)="save()">
    {{ bebida ? 'Guardar Cambios' : 'Agregar Bebida' }}
  </ion-button>
</ion-content>